<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<% @restaurant.reviews.each do |review| %>
  <p>
    <%= review.content %> | <% review.rating.times do |t| %>
    ⭐
    <% end %>
    <%# <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Sure?'} %>
    <hr>
  </p>
<% end %>

<%# <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Review', new_restaurant_review_path(@restaurant) %>